//background image
.image-layer {
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transform: scale(1);
    z-index: -1;
}

.content-box{
    height: 750px;
    font-family: 'Cairo', sans-serif;
    z-index: 11;
    color: white;
    position: relative;
}

.auto-container{
    max-width: 1200px;
    margin: 0 auto;
}

.content{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.inner{
    width: 800px;
    h3{
        font-size: 35px;
        color: white;
        font-family: 'Cairo', sans-serif;
        line-height: 50px;
    }
}

.slide-item{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.6;
        background-color: #222429;
    }
}

